<mat-toolbar color="primary">
  <span>CMS Application</span>
  <span class="example-spacer"></span>
  <button mat-raised-button class="example-icon"
          aria-label="Example icon-button with menu icon"
          routerLink="/login" color="warn">
    Login
  </button>
</mat-toolbar>

<mat-toolbar>
  <button mat-raised-button color="primary" routerLink="/admin/dashboard">Dashboard</button>
  <button mat-raised-button color="primary" routerLink="/admin/cinema" style="margin-left: 10px">Phim</button>
  <button mat-raised-button color="primary" routerLink="/admin/cinema-type" style="margin-left: 10px">Loại phim</button>
  <button mat-raised-button color="primary" routerLink="/admin/producer" style="margin-left: 10px">Nhà sản xuất</button>
</mat-toolbar>

<router-outlet></router-outlet>
