<div class="container-fluid p-4">

  <div class="d-flex justify-content-between">
    <div class="d-flex gap-2">
      <button mat-stroked-button color="warn" class="mat-button" (click)="openCreateDialog()">
        <mat-icon>add</mat-icon>
        Thêm mới
      </button>
    </div>
  </div>

  <!-- Table -->
  <div class="table-wrapper my-4">
    <div class="table-responsive border rounded">
      <div class="table-header bg-light rounded-top">
        <div class="d-flex justify-content-between align-items-center p-2">
          <input
            type="text"
            class="form-control"
            style="max-width: 100%; margin-bottom: 10px"
            placeholder="Tìm kiếm..."
          />
        </div>
      </div>
      <table class="table table-responsive table-body">
        <thead>
          <tr>
            <th class="text-secondary">STT</th>
            <th class="text-secondary">Tên phim</th>
            <th class="text-secondary">Ngày khởi chiếu</th>
            <th class="text-secondary">Đạo diễn</th>
            <th class="text-secondary">Loại phim</th>
            <th class="text-secondary">Hãng sản xuất</th>
            <th class="text-secondary">Thời gian tạo</th>
            <th class="text-secondary">Thời gian cập nhật</th>
            <th class="text-secondary">Trạng thái</th>
            <th class="text-secondary">Hình ảnh</th>
            <th class="text-secondary">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cinema of cinemas; index as index">
            <td>{{ index + 1 }}</td>
            <td class="text-truncate" style="max-width: 50px">
              {{ cinema.name }}
            </td>
            <td class="text-truncate" style="max-width: 50px">
              {{ cinema.releaseDate | date:'dd/MM/yyyy' }}
            </td>
            <td class="text-truncate" style="max-width: 50px">
              {{ cinema.director }}
            </td>
            <td class="text-truncate" style="max-width: 100px">
              {{ cinema.cinemaType }}
            </td>
            <td class="text-truncate" style="max-width: 100px">
              {{ cinema.producerName }}
            </td>
            <td>{{ cinema.createTime | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{ cinema.updateTime | date:'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>
              <div
                class="d-inline-block bg-success bg-opacity-25 text-success p-2 rounded"
                [ngClass]="cinema.status === 1 ? 'text-success bg-success' : 'text-danger bg-danger'">
                {{ cinema.status === 1 ? "Đang chiếu" : "Dừng chiếu" }}
              </div>
            </td>
            <td>
              <button mat-icon-button color="primary" class="mat-button" (click)="openImageDialog(cinema)">
                <mat-icon>images</mat-icon>
              </button>
            </td>
            <td>
              <button mat-icon-button color="primary" class="mat-button" (click)="openUpdateDialog(cinema.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" class="mat-button" (click)="openDeleteDialog(cinema.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
